*{
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px;
    box-shadow: beige;
}

.form-group{
    margin-bottom: 10px;
}

input{
    border: 2px solid #000000;
}